.blog-conatiner{
    width: 100%;
    padding: 10px 20%;
    font-size: 14px;
    
    .blog-header{
        text-transform: uppercase;
        font-size: 40px;
        text-align: center;
    }

    .blog-list-wrapper{
        margin-top: 20px;

        .blog-list{
            width: 100%;
            margin-top: 20px;

            .blog-list-item{
                width: 100%;
                border: solid 1px #e7e7e7;
                margin-bottom: 10px;
                padding: 10px;
                border-radius: 5px;

                .blog-item-header{
                    width: 100%;
                    cursor: pointer;

                    .post-title{
                        font-weight: 600;
                        color: #003881;
                    }
                    .reaction-count{
                        font-weight: normal;
                        color: #a0a0a0;
                        margin-left: 10px;
                        font-size: 12px;
                    }

                    .blog-item-tag-wrapper{
                        font-size: 12px;
                        margin-left: 10px;

                        .tag-label{
                            color: #648aad;
                        }
                        .tag-item{
                            color: #b6b6b6;
                            margin-right: 5px;
                            font-style: italic;
                        }
                    }

                    .collap-expand-button{
                        float: right;
                        font-weight: 600;
                        font-size: 15px;
                        color: #9e9e9e;
                        /* content: "\2212"; */
                    }

                    .collap-expand-button:after {
                        content: '\002B';
                        font-weight: bold;
                    }
                    
                    .active:after {
                        content: "\2212";
                    }
                }

                .blog-item-comment-wrapper{
                    width: 100%;
                    min-height: 100px;
                    margin-top: 20px;
                    padding-left: 20px;

                    .blog-item-comment-count{
                        font-style: italic;
                    }

                    .blog-item-comment-list{
                        width: 100%;
                        margin-top: 10px;
                        background-color: #e7e7e72c;
                        padding: 5px;

                        .blog-comment-item{
                            width: 100%;
                            border-bottom: solid 1px #e7e7e7;
                            padding-bottom: 5px;
                            margin-top: 4px;

                            .comment-body{
                                text-align: left;
                            }

                            .comment-user{
                                text-align: right;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}