.category-block-container
{
    width: 100%;    

    .category-block-header{
        text-transform: uppercase;
        font-size: 30px;
        text-align: center;

        hr{
            border: 1px dotted rgb(212, 212, 212);
            width: 200px;
        }
    }

    .category-list-container{
        display: flex;
        flex-wrap: wrap;
        padding: 20px 100px;
        justify-content: center;

        .category-block-item{
            width: 180px;
            min-height: 142px;
            display: block;
            margin-bottom: 20px;
            margin-right: 10px;

            .image-container{
                text-align: center;
                min-height: 120px;
                img{
                    opacity: 0.8;
                }
                .empty-image{
                    width: 120px;
                    height: 120px;
                    margin: 0 auto;
                }
            }

            .display-text{
                font-size: 16px;
                text-align: center;
            }
        }
    }
}

.bg-gray{
    background-color: #ccc;
}
