.active{
  visibility: visible;
}

.inActive{
  visibility: hidden;
}

.loader-main{
  height: 100%;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 998;
  left: 0;
  top: 0;

  .loader-bg{
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: block;
    position: absolute;
    opacity: 0.3;
  }  

  .loader-container{
    position: fixed;
    inset: 0px;
    width: 60px;
    height: 60px;
    margin: auto;
    z-index: 998;

    .loader {
      width: 60px;
      height: 60px;
      border: 3px solid #00c3ff;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;   
    }
    .loader::after,
    .loader::before {
      content: '';  
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 0;
      background: #eb0101;
      width: 6px;
      height: 6px;
      transform: translate(150%, 150%);
      border-radius: 50%;
    }
    .loader::before {
      left: auto;
      top: auto;
      right: 0;
      bottom: 0;
      transform: translate(-150%, -150%);
    }    
  }
}
 
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 