.pagination{
  .pagination-number-active{
    background-color: #ccc;
    border: solid 1px #ccc;
    border-radius: 3px;
    margin: 0px 5px 0px 0px;
    padding: 5px;
    min-width: 30px;
  }
  
  .pagination-number{
    background-color: rgb(255, 255, 255);
    border: solid 1px #ccc;
    border-radius: 3px;
    margin: 0px 5px 0px 0px;
    padding: 5px;
    min-width: 30px;
    cursor: pointer;
  }

  .pagination-number:hover{
    background-color: rgb(236, 240, 243);
  }

  .pagination-number:active{
    background-color: rgb(226, 229, 231);
  }  

  .pagination-number-empty{
    background-color: rgb(241, 241, 241);
    border: solid 1px #e6e6e6;
    border-radius: 3px;
    margin: 0px 5px 0px 0px;
    padding: 5px;
    min-width: 30px;
  }
  
  .page-number{
    margin-left: 10px;
    font-size: 12px;
  }    
}

 
.load-more{
  text-align: center;
  margin: 20px 0px 10px 0px;
  font-size: 14px;

  .number{
    font-weight: 600;
  }

  button{
    min-width: 250px;
    padding: 15px 20px;
    border: 0px;
    background-color: #dde6e7;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover{
    background-color: #dfecee;
  }

  button:active{
    background-color: #dde6e7;
  }      
}


  .other-text{  
    font-size: 12px;
  }   