.row {
  content: "";
  display: table;
  clear: both;
  display: flex;
}

.column {
  float: left;
  height: 100%;  
}

.left {
  min-width: 300px;
  height: auto;
}

.right {
  width: 100%;
}

.empty-container{
  padding: 10px;
  min-height: 800px;
}

.product-container{
  padding: 10px;

  .product-list-container{
    border: solid 1px #ffffff;
    min-height: 800px;

    .product-flex {
      display: flex;
      flex-wrap: wrap;
      /* justify-content: center; */
      align-items: center;
      margin: 0px 10px 10px 0px;
      min-height: 100px;
      .no-product{
        color: #ffffff;
      }
    }
  }
}

