.row {
  content: "";
  display: table;
  clear: both;
  display: flex;
}

.column {
  float: left;
  height: 100%;  
}

.left {
  min-width: 300px;
  height: auto;
}

.right {
  width: 100%;
}

.product-container{
  padding: 10px;

  .product-list-container{
    border: solid 1px #ffffff;
    min-height: 800px;

    .product-flex {
      display: flex;
      flex-wrap: wrap;
      /* justify-content: center; */
      align-items: center;
      margin: 10px;
      min-height: 100px;
      .no-product{
        color: #ffffff;
      }
    }
    
    .load-more{
      text-align: center;
      margin: 20px 0px 10px 0px;
      font-size: 14px;

      .number{
        font-weight: 600;
      }

      button{
        min-width: 250px;
        padding: 15px 20px;
        border: 0px;
        background-color: #dde6e7;
        border-radius: 5px;
        cursor: pointer;
      }

      button:hover{
        background-color: #dfecee;
      }

      button:active{
        background-color: #dde6e7;
      }      
    }
  }
}

