.search-page-box
{
    margin-top: 50px;
    width: 700px;
    margin: 0 auto;
    border-radius: 8px;
    border: solid 1px #ccc;
    background-color: #f3f3f3;

    box-shadow: 3px 3px 5px rgb(214, 214, 214), -3px -3px 5px rgba(214, 214, 214);

    .search-page-form{
        padding: 30px 100px;
        justify-content: center;

        .form-control{
            height: 40px;
        }

        .search-textbox{
            float: left;
            margin-right: 8px;

            input{
                width: 370px;
                height: 40px;
                border-radius: 5px;
                border: solid 1px #9797976c;
                padding-left: 10px;
                font-size: 18px;
            }

            input:focus{
                border: solid 1px #dadada;
                outline: none;
            }
        }

        .search-button{
            margin-left: 10px;

            button{
                width: 120px;
                height: 40px;
                border: solid 1px #ccc;
                border-radius: 5px;
                font-size: 16px;
                font-weight: 600;
                background-color: #e0e0e0;
                cursor: pointer;
            }
            button:hover {
                border-color: #868686;
                background-color: rgb(223, 223, 223)0e0;
            }                
            button:focus {
                outline: none;
                border-color: #868686;
            }              
        }
    }
}