.search-page-box
{
    margin-top: 50px;
    width: 700px;
    margin: 0 auto;
    border-radius: 8px;
    border: solid 1px #ccc;
    background-color: #f3f3f3;

    box-shadow: 2px 2px 3px rgb(214, 214, 214), -2px -2px 3px rgba(214, 214, 214);

    .form-p-default{
        padding: 30px 60px;
    }

    .form-p-xl{
        padding: 60px 60px;
    }    

    .search-page-form{
        justify-content: center;

        .form-control{
            height: 40px;
        }

        .search-textbox{
            float: left;

            input{
                width: 450px;
                height: 40px;
                border-radius: 5px 0px 0px 5px;
                padding-left: 10px;
                font-size: 18px;
                border-style: solid;
                border-width: 1px 0px 1px 1px;
                border-color: #9797976c;

            }

            input:focus{
                outline: none;
            }
        }

        .search-button{

            button{
                width: 120px;
                height: 40px;
                border-radius: 0px 5px 5px 0px;
                font-size: 16px;
                font-weight: 600;
                background-color: #e0e0e0;
                border-style: solid;
                border-width: 1px 1px 1px 0px;
                border-color: #ccc;
                outline: none;
            }
            button:hover {
                outline: none;
                background-color: #dbdbdb;
            }
            button:focus {
                outline: none;
                background-color: #dbdbdb;
            }             
            button:active {
                outline: none;
                background-color: #e0e0e0;
            }              
        }
    }
}

::placeholder {
    color: rgb(211, 211, 211);
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12-18 */
    color: rgb(211, 211, 211);
  }