.user-container{
  padding: 10px;

  .user-list-container{
    border: solid 1px #ffffff;

    .user-list-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 10px;
      padding: 20px;
      min-height: 360px;

      .user-card {
        margin: 0 1rem 2rem 1rem;
        text-align: center;
      
        padding: 10px;
        margin: 5px 5px;
        border: solid 1px #ccc;
        border-radius: 5px;
        width: 300px;
        min-height: 200px;

        p{
          font-size: 14px;
        }
        
        .user-img{
          width: 100%;
          height: 200px;
          position: relative;
          border: solid 1px #f3f3f3;
          border-radius: 5;

          img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }          
        }        
      }
    }    
  }
}